<% if @search_results.length == 0 %>
  <h3>No search results found</h3>
<% end %>

<% @search_results.each do |key, value| %>
  <div class="cartridge">
    <h3><%= key %></h3>
    <hr />
      <% value.each_with_index do |val, index| %>
        <% if (index + 1) % 2 != 0 %>
          <div class="row">
        <% end %>
          <div class="col-md-6">
            <% val[:tags].each do |tag| %>
            <div class="label label-default"><%= tag %></div>
            <% end %>
            <% pngs = ["Create A Critter", "Ashlyns Alphabet", "Best Of Pixar", "Cricut Essentials"] %>
            <% if pngs.include? key %>
            
              <%= image_tag(key.gsub(" ", "") + '_page' + val[:page].to_s + '.PNG', class: "page-img") %>
            <% else %>
              <%= image_tag(key.gsub(" ", "") + '_page' + val[:page].to_s + '.JPG', class: "page-img") %>
            <% end %>
          </div>
        <% if (index + 1) % 2 == 0 %>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>
