<h1>Cartridges</h1> 
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td>Cartridge ID</td>
        <td>Cartridge Name</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @cartridge.id %></td>
        <td><%= @cartridge.name %></td>
      </tr>
    </tbody>
  </table>
</div>
