<div class="cartridge">
  <h3><%= @cartridge.name %></h3>
  <hr />
    <% @cartridge.cartridge_pages.each_with_index do |val, index| %>
      <% if (index + 1) % 2 != 0 %>
        <div class="row">
      <% end %>
      <div class="col-md-6">
        <% pngs = ["Create A Critter", "Ashlyns Alphabet", "Best Of Pixar", "Cricut Essentials"] %>
        <% if pngs.include? @cartridge.name %>
          <%= image_tag(@cartridge.name.gsub(" ", "") + '_page' + val[:page_num].to_s + '.PNG', class: "page-img") %>
        <% else %>
          <%= image_tag(@cartridge.name.gsub(" ", "") + '_page' + val[:page_num].to_s + '.JPG', class: "page-img") %>
        <% end %>
      </div>
      <% if (index + 1) % 2 == 0 %>
        </div>
      <% end %>
    <% end %>
</div>
