// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

div.home-search {
  width: 475px;
  height: 100px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;

  margin: auto;
}

input.search-box {
  width: 400px;
  height: 35px;
  border-radius: 6px;
}

input.search-button {
  vertical-align: top;
}

img.magnifying-glass-img {
  height: 250px;
  margin-top: 5%;
}
